<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
	<div id="rating-form">
		<label>Rating</label>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, :class => 'btn-custom2' %>
<% end %>

<script>
var ratingFormStars;
	
	ratingFormStars = $("#rating-form > img").length;

if ( ratingFormStars < 5 ) {

	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
}
</script>